{{generated_notice}}
#ifndef {{header_guard}}
#define {{header_guard}}

#include "llvm/CodeGen/GlobalISel/LegalizerInfo.h"
{{#header_includes}}
#include "{{path}}"
{{/header_includes}}

namespace {{cpp_namespace}} {

class {{class_name}} final : public LegalizerInfo {
public:
  {{class_name}}();

  bool legalizeIntrinsic(LegalizerHelper &Helper,
                         MachineInstr &MI) const override;
};

} // namespace {{cpp_namespace}}

#endif // {{header_guard}}
